
{% extends 'base.html.twig' %}






{% block content %}

        <div class="container-fluid logos">
                <center>

        <img src="{{ asset('images/picto150px.png')}}" class="logo"/>
        <img src="{{ asset('images/picto150px.png')}}" class="logo"/>
        <img src="{{ asset('images/picto150px.png')}}" class="logo"/>
        <img src="{{ asset('images/picto150px.png')}}" class="logo"/>
        <img src="{{ asset('images/picto150px.png')}}" class="logo"/>
        <img src="{{ asset('images/picto150px.png')}}" class="logo"/>
        <img src="{{ asset('images/picto150px.png')}}" class="logo"/>
        <img src="{{ asset('images/picto150px.png')}}" class="logo"/>

                </center>
        </div>

        <div class="row">
                <div class="col-sm-6 ">
                        <h1 class="propose">JE PROPOSE</h1>
                </div>

                <div class="col-sm-6">
                         <h1 class="propose1">JE DEMANDE</h1>
                </div>
        </div>

        <div class="row">

                <div class="col-sm-12">
                        <h1 class="propose2">JE PRENDS RDV en agence partenaire</h1>
                </div>
        </div>




{% endblock %}